<div class="container-lg text-center mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group list-group-flush">

        <button type="button" class="list-group-item list-group-item-action"
          [ngClass]="{ 'active bg-dark': options['me'].active}" aria-current="true" (click)="onSwitchOption('me')">
          <span class="fa-stack fa-2xs fa-1x">
            <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          {{ profile.firstName }}
        </button>

        <button type="button" class="list-group-item list-group-item-action"
          [ngClass]="{ 'active bg-dark': options['friends'].active}" aria-current="true"
          (click)="onSwitchOption('friends')">
          <span class="fa-stack fa-2xs fa-1x">
            <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-users" aria-hidden="true"></i>
          </span>
          Friends
        </button>

      </div>
    </div>
    <div class="col-9 shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class="ad-banner-example">
        <div [ngSwitch]="optionSelected">

          <div *ngSwitchDefault>
          </div>

          <div *ngSwitchCase="options['friends']">
            <app-table [call]="this.callGetUser()" [buildSearch]="buildSearch">
              <column field="name" caption="Name" />
              <column field="nickname" caption="Nickname" />
            </app-table>
          </div>

        </div>
      </div>
    </div>
  </div>
